:root {
	--footer-height: 100px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	/*border: 1px solid black;*/
}

.container-project {
	display: inline-block;
}

.project {
	width: 18rem;
	border: none;
	margin-bottom: 15px;
}

.project-img {
	height: 156.91px;
	background: #777777;
	color: #DDDDDD;
	text-align: center;
	line-height: 156.91px;
}

.card-body {
	border: 1px solid black;
	border-top: none;
	border-radius: 0 0 5px 5px;
}

.project-name {
	font-weight: 700;
}

/* older codes */

.container {
	max-width: 960px; /*so that the layout won't expand extensively in*/
	margin: auto;
}

.header {
	min-height: 150px;
	background-color: darkviolet;
}

.handle-name {
	cursor: default;
}

/* .email-me {
	border: none;
} */

.main {
	/* min-height: 700px; */
	min-height: 100vh;
	padding-top: 71px;
	padding-bottom: var(--footer-height);
	/* background-color: lightgrey; */
}

.footer {
	height: var(--footer-height);
	background-color: skyblue;
	text-align: center;
	line-height: var(--footer-height);
}

.footer a {
	text-decoration: none;
	color: initial;
}

.footer i {
	font-size: 30px;
}

@media only screen and (max-width: 767.98px) {
	.main {
		max-width: 300px;
	}
}